.input.input {
  border-radius: 10px;
  border-style: dotted;
  padding: 30px;
}

.button.button.new {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px 20px;
  font-size: 15px;
}

.button.button.profile {
  border-radius: 50%;
}
