@import 'bulma/sass/utilities/_all.sass';

// Sizes
$mobile: 576px !default;

// Colors
$dark-mode-primary-color: #3b4155;
$dark-mode-secondary-color: #F4EEE0;
$success-color: #f8ce64;
$calendar-cell-background-color: #f3f3f3;
$dark-mode-calendar-cell-background-color: #55556d;
$calendar-cell-background-color-hover: #dbdbdb;
$dark-mode-calendar-cell-background-color-hover: #74748f;


